[submodule "directupload/static/jQuery-File-Upload"]
	path = directupload/static/jQuery-File-Upload
	url = git://github.com/blueimp/jQuery-File-Upload.git
[submodule "directupload/static/JavaScript-Templates"]
	path = directupload/static/JavaScript-Templates
	url = git://github.com/blueimp/JavaScript-Templates.git
[submodule "directupload/static/JavaScript-Load-Image"]
	path = directupload/static/JavaScript-Load-Image
	url = git://github.com/blueimp/JavaScript-Load-Image.git
[submodule "directupload/static/JavaScript-Canvas-to-Blob"]
	path = directupload/static/JavaScript-Canvas-to-Blob
	url = git://github.com/blueimp/JavaScript-Canvas-to-Blob.git
[submodule "directupload/static/Bootstrap-Image-Gallery"]
	path = directupload/static/Bootstrap-Image-Gallery
	url = git://github.com/blueimp/Bootstrap-Image-Gallery.git
