{% comment %}
<script type="text/javascript">
var jQuery = django.jQuery; //uploadify will not work otherwise
</script>
{% endcomment %}
<link rel="stylesheet" href="{{ STATIC_URL }}jQuery-File-Upload/css/jquery.fileupload-ui.css">

<script type="text/javascript" src="{{ STATIC_URL }}jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>

<script src="{{ STATIC_URL }}JavaScript-Templates/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="{{ STATIC_URL }}JavaScript-Load-Image/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="{{ STATIC_URL }}JavaScript-Canvas-to-Blob/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS and Bootstrap Image Gallery are not required, but included for the demo -->
<script src="{{ STATIC_URL }}Bootstrap-Image-Gallery/js/bootstrap-image-gallery.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jQuery-File-Upload/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jQuery-File-Upload/js/jquery.fileupload-fp.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jQuery-File-Upload/js/jquery.fileupload-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jQuery-File-Upload/js/locale.js"></script>

<script type="text/javascript">
tmpl.regexp = /([\s'\\])(?![^%]*%\])|(?:\[%(=|#)([\s\S]+?)%\])|(\[%)|(%\])/g;
</script>
<script type="text/javascript" src="{{ STATIC_URL }}directupload/widget.js"></script>

<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        make_form_uploader($, '.form-directupload', "{% url directupload-options %}", "{% url directupload-determine-name %}")
    });
})(jQuery);
</script>

